#header {
  height: 300px;
  position: relative;
  .degrade {
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &.un {
      background-image: linear-gradient(to right, $perso-primary, $perso-secondary);
    }
    &.deux {
      background-image: linear-gradient(to top, $perso-secondary, $perso-primary);
    }
  }
  .title {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
