#navigation {
  background-color: white;
  nav {
    padding: 0;
    a {
      margin-left: 20px;
      margin-right: 20px;
      transition: .1s ease all;
      position: relative;
      &:not(.active) {
        color: $perso-primary;
      }
      &.active {
        background-color: $perso-primary;
        box-shadow: 0 0 5px rgba($black, .5);
      }
    }
  }
}