@import "custom";
@import "~bootstrap/scss/bootstrap";

$color-film: #9570e5;
$color-serie: #76e881;
$color-court-metrage: #ff992d;

.film {
  border-left: 5px solid $color-film;
}

.serie {
  border-left: 5px solid $color-serie;
}

.court-metrage {
  border-left: 5px solid $color-court-metrage;
}